body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: 222;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  background-color: #f1f5f8;
}

h1,
h2,
h3,
h4,
h5,
h6, .section-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1.3rem;
  margin-top:1rem;
  color: #077210;
  text-align: center;
  text-transform: uppercase;
}

/* /////////--------  Navbar ---------/////////// */

.navbar {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 6.5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.nav-title{
  display: flex;
  height:2rem;
}
.title-text{
  margin-top: 0.5rem;
  color: #476a2e;
  letter-spacing: 1px;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin: 0.5rem;
   margin-top:1rem;
}
.logo{
  width:5rem;
  height:3rem;
}
.nav-links {
  display: flex;
  align-items: center;
  padding:0;
}
.nav-links  li{
  list-style-type: none;
}
.nav-links a {
  color:#476a2e;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  font-weight: 400 bold;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.1rem;
  transition:all 0.2s linear;
  text-decoration: none;
}
.nav-links a:hover {
  color: #43cfcf;
  
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.nav-links a:active{
  color:#43cfcf
}

@media screen and (min-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .nav-title{
    height:3rem;
  }
  .nav-center{
    margin:auto;
  }
  .nav-links a:hover {
    background-color: #476a2e;
    border: 2px solid #476a2e;
    border-radius: 0.25rem;
    color:white;
    text-underline-offset: on;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
/* /////////--------  Home ---------///////////*/
.introduction{
  margin: 1rem;
  font-weight: 350;
  letter-spacing: 1px;
}
.search-items-div{
  border-color: transparent;
  background: #f1f5f8;
  border-radius: 0.25rem;
  margin-left:25%;
  margin-right: 20%;
}

.search-items-div a{
  display: block;
  width:100vw;
  font:inherit;

  text-decoration: none;
  margin-bottom: 0.25rem;
  color:black;
  border-radius: 0.25rem;
  width:auto;
  cursor: pointer;
}

.search-items-div a:hover{
  background-color: black;
  color:white;
}

@media screen and (min-width: 576px) {
  .search-items-div{
    border-color: transparent;
    background: #f1f5f8;
    margin-left:41%;
    margin-right: 40%;
  }
}
/* /////////--------  Forms ---------///////////*/

.form-control {
  display:flex;
  flex-direction: row;
  margin: 1rem;
}
.search-form {
  width: 100vw; 
  margin: auto;
  max-width: 40rem;
  padding: 0.5rem;
  text-transform: capitalize;
}

.form-control input {
  display: block;
  margin-left: 20%;
  width:100%;
  border: none;
  border-color: transparent;
  background: white;
  border-radius: 0.25rem;
  padding: 0.45rem 0.8rem;
  font-size: 1.2rem;
}

.btn {
margin-right: 20%;
letter-spacing: 0.1rem;
color:#476a2e;
border: 2px solid #476a2e;
padding: 0.3rem 0.6rem;
display: inline-block;
transition: all 0.3s linear;
cursor: pointer;
font-size: 0.8rem;
background: transparent;
border-radius: 0.25rem;
display: inline-block;
text-decoration: none;
}

 .btn:hover {
background: #476a2e;      
color: #fff;
}

.btn-new :hover {
  background: #476a2e;
  color: #fff;
  }

@media screen and (min-width: 576px) {
  .form-control input {
    display: block;
    margin-left:20vw;
}
.form-control input {
  display: block;
  margin-left: 20%;
  width:60%;
}
}

/* /////////--------  FoodItem ---------///////////*/
.food-container{
  margin:1rem; 
}

.food-title{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.food-img{
  margin: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.sub-title{
  color: darkcyan;
  text-align: center;
  margin: 0.5rem;
}

.food-sub-container{
  margin: 1rem;
  background: black;
  border-radius: 0.5rem;
}
.food-sub-container li{
  list-style-type: none;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.food-nutrition-span-label{
  color:#b6138d;
  font-weight: 350;
}
.food-nutrition-span-qty{
  color:white;
}
@media screen and (min-width: 576px) {
  .food-img-details-container{
    display: flex;
    margin-left:25%;
    margin-left:25%;
  }
}


/* /////////--------  Carousel---------///////////*/

.carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin:1rem;
  margin-top: 5rem;
  width:auto;
  background-color: transparent;
}

.carousel__slide-container { 
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.carousel__slide { 
  position: absolute;
  visibility: hidden;
}

.carousel__slide--active { 
  position: relative;
  visibility: visible;
 
}

.carousel__slide--active li { 
 
  position: static;
}

.carousel__img { 
  display: flex;
  flex-direction: row;
  width:10rem;
}

.carousel__control { 
  min-width: 54px;
  min-height: 54px;
  background-color: #f1f5f8;
  border:none;
  color:black;
}
@media screen and (min-width: 576px) {
  .carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin:1rem;
    margin-top: 5rem;
  }
  .carousel__img { 
    width:25rem;
    height: auto;
  }
  .carousel__control{
    min-width: 200px;
    min-height: 200px; 
  }
}


/* /////////--------  Tools ---------///////////*/

.tool-tabs-container{
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(198, 238, 179);
  margin: 3rem auto 0;
  word-break: break-word;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 1rem solid black;
}
.tool-tabs-div {
  display: flex;
}

.tools-tabs {
  text-align: center;
  width: 50%;
  box-sizing: content-box;
  position: relative;
  outline: none;
  letter-spacing: 0.1rem;
  color:#080808;
  border-bottom: 0.1rem solid #476a2e;
  padding: 0.3rem 0.6rem;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
}

.tools-tabs:not(:last-child) {
  border-right: 0.1rem solid green;
}

.tools-tabs:focus {
  border-top: 0.2rem solid green;
}   


.current-tools-tab {
  border-bottom: 1px solid transparent;
  border-top: 1px solid Green;
  background-color: white;
}

.current-tools-tab::after {
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;

  height: 5px;
}

.content-tabs-div {
  flex-grow: 1;
}

.tools-content {
  background: white;
  display: none;
  height: auto;
}

.tools-content h2 {
  padding: 0px 0 5px 0px;
  margin: 0.5rem ;
}
.tools-content hr {
  width: 100px;
  height: 100%;
  background: #222;
  margin-bottom: 5px;
}
.tools-content p {
  width: 100%;
  height: 100%;
  color: black;
}
.current-tools-content {
  display: block;
  height: auto;
}

@media only screen and (min-width: 500px) {
  .container-div {
    width: 800px;
    height: 500px;
    margin: 3rem auto 0;
  }
  .tool-sub-container{
    display: flex;
  }
  .bmi-status-div{
    display: flex;
    flex-direction: column;
  }
}


 /* /////////--------  All Calculators ---------///////////*/
.tool-container{
  display: flex;
  flex-direction: column;
  width:auto;
  height: auto;
  background-color: #f1f5f8;
  
}

.bmi-status-div{
  display: flex;
  flex-direction: column;
  margin:1rem;
  background-color: #f1f5f8;
}

.tool-tab-content{
  width:auto;
  padding: 0.5rem;
  background-color: #f1f5f8;
}
p, span{
  font-weight: 350;
  margin:1rem;
  letter-spacing: 1.2px;
  line-width:1.2px;
}
.tool-form{
  display: block;
  margin:auto;
  background-color: #f1f5f8;
}

.tool-title{
text-align: center;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}
.user-input-entry-div{
  display: flex;
  flex-direction: column;
  margin:1rem;
}
.user-input-label{
  font:1;
  padding:0.2rem;
  font-weight: bold;
}

.user-input{
  width:auto;
}

.tool-btn{
  margin-right: 20%;
  margin-left: 30%;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  color:#476a2e;
  border: 2px solid #476a2e;
  padding: 0.3rem 0.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
 
}
.result-div{
  background:rgb(147, 236, 236);
  animation: createBox .25s;
  width: auto; height: auto;
  font:1.2;
  font-weight: bold;
  padding:0.25rem;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (min-width: 500px) {
  .bmi-status-div{
    display: flex;
    flex-direction: column;
    margin-right:10%;
    margin-left: 20%;
  }
  .tool-form{
    margin-right: 1;
    padding:1rem;
    background-color: rgb(221, 234, 243);
  }
  .user-input{
    width:auto;
    padding:0.5rem;
    background-color: white;
  }
  .tool-btn{
    margin-left:20%;
  }
}

/* Recipes and Recipe */
.recipe-center{
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

.recipe-div{
display: flex;
flex-direction: column;
border: 2px solid #476a2e;
border-radius: 0.1rem;
}

.recipe-name{
  width:80%;
  font-weight: bold;
  text-align: left;
  line-height: 1.4;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.recipe-img{
  border-bottom: 2px solid #476a2e;
}
.recipe-ingredients{
  width:80%;
}
@media screen and (min-width: 576px) {
  .recipe-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
  .search-form {
    width: 80vw; 
    margin: auto;
    max-width: 40rem;
    padding: 1rem;
    text-transform: capitalize;
  }
}

/* Accordion */

.accordion { 
  display: flex;
  flex-direction: column;

  margin: 0;
  width: 100%;
  max-width: 40rem;

}

.accordion__title { 
  position: relative;

  display: inline-block;
  width: 100%;
  padding: 1rem;
  padding-right: 3rem;
  border: none;

  background-color: lightcyan;
  font: inherit;
  font-weight: bold;
  text-align: left;
}

.accordion__title::after { 
  position: absolute;
  right: 1rem;
  top: calc(50% - 1ch);
}

.accordion__title::after { 
  content: "\2795";
}

.accordion__entry--open .accordion__title::after { 
  content: "\2796";
}

.accordion__body { 
  display: none;

  padding: 0.1rem;
 
}

.accordion__entry--open .accordion__body { 
  display: block;
}

.recipe-ingredients li{
color: darkslategray;
letter-spacing: 0.08rem;
line-height: 1.3;
}

/* FeedBack And SubmitForm */

label{
  font:inherit;
  color:black;
  line-height: 1.3;
}
.faq-div{
  width: 100%;
  margin:auto;
}

.feedback-container {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem;
}

.user-input{
  display: block;
  border-color: 0.1rem solid grey;
  background: white;
  border-radius: 0.25rem;
  padding: 0.45rem 0.8rem;
  font-size: 1.2rem;
}
label{
  font-weight: 350;
  margin-right:1rem;
}

.error-msg{
  color:red;
  margin-top: 0;
}
.hide-form{
  display:none;
}
.show-text{
  display: block;
  padding: 5rem;
  border:none;
  color:rgb(10, 90, 155);
  font-weight: 350 bold;
  font-size:1.2rem;
  background-color: transparent;
  width:95%;
}
.hide-text{
  display: none;
}

.btn-new{
  margin-right: 20%;
  letter-spacing: 0.1rem;
  color:#476a2e;
  border: 2px solid #476a2e;
  padding: 0.3rem 0.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  margin-left: 22%;
  }
  .btn-new :hover {
    background: #476a2e;
    color: #fff;
  }
@media screen and (min-width: 576px) {
  .faq-div{
    margin-left: 2rem;
  }
  .field{
   margin-left: 30%;
  }
  .btn-new{
    margin-left: 40%;
  }
}



/* -------------  Loading ---------------  */

.loader{
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(205, 86%, 17%);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.error-container{
  display: flex;
}