.recipes img {
  height: 20rem;
  height: 10rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .recipes {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .recipes h3 {
    margin: 0.5rem;
  }
}
