#homepage {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "localmenu main"
    "footer footer";
}

header {
  grid-area: header;
}

.menubar {
  background-color: plum;
  padding: 0.31rem;
}

.menubar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.local-menu {
  display: grid;
  background-color: pink;
  grid-area: localmenu;
  border-right: 1px solid black;
}

.local-menu li {
  padding: 0.5rem;
  list-style-type: none;
  margin: 1rem;
}

main {
  grid-area: main;
  background-color: pink;
  padding: 0.5rem;
}

footer {
  grid-area: footer;
  background-color: plum;
  padding: 1.25rem;
}

.menu a:hover {
  background-color: rebeccapurple;
  color: white;
  padding: 1.25rem;
}

.local-menu a:hover {
  background-color: plum;
  color: white;

  margin: 0px;
}
