#homepage {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "localmenu main"
    "footer footer";
}

header {
  grid-area: header;
}

.menubar {
  background-color: plum;
  padding: 5px;
}

.menubar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.local-menu {
  background-color: pink;
  grid-area: localmenu;
  justify-content: space-evenly;
}

.local-menu ul {
  list-style-type: none;
}

main {
  grid-area: main;
  background-color: pink;
}

footer {
  grid-area: footer;
  background-color: plum;
  padding: 20px;
}

.menu a:hover {
  background-color: rebeccapurple;
  color: white;
  padding: 20px;
}

.local-menu a:hover {
  background-color: plum;
  color: white;
}
