* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.main-header {
  text-align: left;
}

.info {
  padding: 0 0.5rem;
  border: 1px solid black;
}

.info__label {
  position: relative;
  top: -0.5rem;
  left: 0.5rem;

  background-color: white;
}

.add-form {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label__input {
  width: 100%;
  margin-left: 0.5rem;
}
@media (min-width: 600px) {
  main {
    display: flex;
    flex-direction: row;
  }
}

.add-form__submit {
  margin-top: 0.5rem;
}
