* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "localnav main"
    "footer footer";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}
header {
  grid-area: "header";
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "logo header"
    "logo subheader"
    "logo menubar";
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header .logo {
  grid-area: logo;

  width: 3rem;
  height: auto;
}

header h1 {
  grid-area: header;

  margin: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: purple;
}

header .subheader {
  grid-area: subheader;

  font-size: 1rem;
  margin: 0.5rem;
  text-align: center;
}
.menubar {
  grid-area: menubar;
}

.menubar > ul {
  display: flex;
  flex-direction: row;
}

.menu > li {
  padding: 0 1rem;
  position: 100%;
  position: relative;
}

.submenu {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;

  max-height: 0;
  overflow: hidden;
  visibility: hidden;

  background-color: aqua;

  transition: max-height 1s;
}

.submenu a {
  display: inline-block;

  width: 100%;
  padding: 0.25rem 0.5rem;
}

.submenu a:hover {
  background-color: coral;
}
.menu button {
  background-color: transparent;
  border: 0;
  font: inherit;
}

.menu > li:focus-within .submenu,
.menu > li:hover .submenu {
  max-height: 90vh;
  visibility: visible;
}

.localnav {
  grid-area: localnav;

  padding: 0.5rem;

  /*background-color: darkolivegreen; */
}

.localnav ul {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.localnav li {
  padding: 0.25rem 0;
}
main {
  grid-area: main;

  padding: 2rem;
  background-color: antiquewhite;
}
footer {
  grid-area: footer;
}
