h2 {
  color: rgb(11, 187, 105);
}

.mortgage-main-container {
  margin-top: 5rem;
  margin-left: 1rem;
}

.mortgage-sub-container1 {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
  box-shadow: 0.2rem 0.3rem 0.5rem grey;
}

h3 {
  text-align: center;
}
.mortgage-input {
  margin: auto;
  display: block;
  padding: 1rem;
  width: 25%;
  margin-bottom: 5rem;
  border: 0.1rem solid rgb(46, 121, 121);
  border-radius: 2rem;
}

.prices-value1 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.prices-value2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.prices-value3 {
  display: flex;
  flex-direction: column;
}

.price-label {
  position: inherit;
  margin: 1rem;
  padding: 0.5rem;
}
.home-price-input {
  position: inherit;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid rgb(46, 121, 121);
}
